mixin formGroup(nameLabel, id, type, placeholder, isInput)
    .form-group.row.required 
        label(for=id class="col-sm-2")=nameLabel 
        .col-sm-10 
            if(isInput)
                input(type=type, class="form-control", id=id, placeholder=placeholder)
            else 
                textarea(cols="30", rows="10")   
