include ../component/button.pug
include ../component/cardBlog.pug
include ../component/cardProduct.pug
include ../component/banner.pug
include ../component/dropdownMega.pug
include ../component/introHead.pug
include ../component/imgProduct.pug
include ../component/breadcrumb.pug
