-
    const headerList = ["Tài khoản của tôi", "Trạng thái đơn hàng", "Danh sách ưa thích", "Giỏ hàng", "Đăng nhập", "Đăng ký"]
-
    const navList = [
        {name:"Trang chủ", href:"/"},
        {name:"rượu vang đỏ", href:"/", isDropdown:true },
        {name:"rượu trắng", href:"/"},
        {name:"champagne", href:"/"},
        {name:"thông tin", href:""},
        {name:"blog", href:"/"},
        {name:"liên hệ", href:"/"},
    ]
- 
    const dropdownList = ["rượu ngoại", "rượu chivas", "Hàng độc - Rượu độc đáo", "Johnnie walker", "rượu whisky", "rượu renny martin", "rượu glenmorangie "]
- 
    const bgIntro = [
        {src:"/assets/img/bg-left.jpg", alt:"bg-left"},
        {src:"/assets/img/bg-right.jpg", alt:"bg-right"},
    ]
- 
    const productList = [
        {src:"/assets/img/Product/10.jpg", alt:"product image"},
        {src:"/assets/img/Product/9.jpg", alt:"product image"},
        {src:"/assets/img/Product/8.jpg", alt:"product image"},
        {src:"/assets/img/Product/12.jpg", alt:"product image"}
    ]
- 
    const collectionList = [
        {src:"/assets/img/home-image2.jpg", alt:"collection image"},
        {src:"/assets/img/home-image3.jpg", alt:"collection image"},
        {src:"/assets/img/home-image4.jpg", alt:"collection image"},
        {src:"/assets/img/home-image5.jpg", alt:"collection image"},
        {src:"/assets/img/home-image6.jpg", alt:"collection image"},
        {src:"/assets/img/home-image7.jpg", alt:"collection image"},
        {src:"/assets/img/home-image8.jpg", alt:"collection image"},
        {src:"/assets/img/home-image9.jpg", alt:"collection image"},
    ]
-
    const homeBlog = [
       {name:"/assets/img/home-image10.jpg" , alt:"blog image", title:"Vang Thăng Long Classic", desc:"Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml...",sub:"Đăng bởi Giangle | 30/06/2015 | 60 bình luận" },
       {name:"/assets/img/home-image11.jpg" , alt:"blog image", title:"Vang Thăng Long Classic", desc:"Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long ...",sub:"Đăng bởi Giangle | 30/06/2015 | 60 bình luận" },
    ]
- 
    const footerInfor = ["về chúng tôi", "giào hàng", "cảm nghĩ", "lưu trữ", "chính sách riêng tư"]
- 
    const footerBuy = ["vận chuyển và trả hàng", "mua hàng an toàn", "vận quốc tế", "liên kết", "dịch vụ giảm giá"]
-   
    const blogList = [
        {img:"/assets/img/home-image10.jpg", alt:"blog image", title:"vang thăng long classic", desc:"Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml...", sub:"Đăng bởi Giangle | 30/06/2015 | 60 bình luận"},
        {img:"/assets/img/home-image11.jpg", alt:"blog image", title:"vang thăng long classic", desc:"Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml...", sub:"Đăng bởi Giangle | 30/06/2015 | 60 bình luận"},
        {img:"/assets/img/home-image10.jpg", alt:"blog image", title:"vang thăng long classic", desc:"Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml...", sub:"Đăng bởi Giangle | 30/06/2015 | 60 bình luận"},
        {img:"/assets/img/home-image10.jpg", alt:"blog image", title:"vang thăng long classic", desc:"Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml...", sub:"Đăng bởi Giangle | 30/06/2015 | 60 bình luận"},
        {img:"/assets/img/home-image11.jpg", alt:"blog image", title:"vang thăng long classic", desc:"Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml...", sub:"Đăng bởi Giangle | 30/06/2015 | 60 bình luận"},
        {img:"/assets/img/home-image10.jpg", alt:"blog image", title:"vang thăng long classic", desc:"Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml...", sub:"Đăng bởi Giangle | 30/06/2015 | 60 bình luận"},
        {img:"/assets/img/home-image10.jpg", alt:"blog image", title:"vang thăng long classic", desc:"Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml...", sub:"Đăng bởi Giangle | 30/06/2015 | 60 bình luận"},
        {img:"/assets/img/home-image11.jpg", alt:"blog image", title:"vang thăng long classic", desc:"Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml...", sub:"Đăng bởi Giangle | 30/06/2015 | 60 bình luận"},
        {img:"/assets/img/home-image10.jpg", alt:"blog image", title:"vang thăng long classic", desc:"Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml...", sub:"Đăng bởi Giangle | 30/06/2015 | 60 bình luận"},
    ]
- 
    const newsBlog = [
        {img: "/assets/img/blog-image2.jpg", alt: "news imgae",  title: "cách săp xếp nội thất trong nhà", date: "12/05/2016"},
        {img: "/assets/img/blog-image3.jpg", alt: "news imgae",  title: "cách săp xếp nội thất trong nhà", date: "12/05/2016"},
        {img: "/assets/img/blog-image4.jpg", alt: "news imgae",  title: "cách săp xếp nội thất trong nhà", date: "12/05/2016"},
    ]
- 
    const tagBlog = ["Đồng hồ", "Túi", "Phụ kiện", "Giày", "Sandal", "Áo sơ mi", "Nước hoa", "Trẻ em", "Thời trang nữ"]
- 
    const blogDetail = [
        {img: "/assets/img/home-image10.jpg", alt: "blog image", title: "vang thăng long classic", desc: "Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml...", sub: "Đăng bởi Giangle | 30/06/2015 | 60 bình luận"},
    ]
-
    const comments = [
        {desc: "Có lẽ bởi tính chất 'ăn gian' vóc dáng và vô cùng thoải mái, gợi cảm mà cả 2 dạng trang phục này được áp dụng nhiều nhất trong street style tuần qua ,chọn cho mình bộ trang phục đơn sắc với thiết kế cổ yếm, ống rộng - vừa thoải mái tối đa lại không kém phần gợi cảm, kết hợp cùng đôi giày quai chữ T tôn dáng"},
        {desc: "Có lẽ bởi tính chất 'ăn gian' vóc dáng và vô cùng thoải mái, gợi cảm mà cả 2 dạng trang phục này được áp dụng nhiều nhất trong street style tuần qua ,chọn cho mình bộ trang phục đơn sắc với thiết kế cổ yếm, ống rộng - vừa thoải mái tối đa lại không kém phần gợi cảm, kết hợp cùng đôi giày quai chữ T tôn dáng"},
        {desc: "Có lẽ bởi tính chất 'ăn gian' vóc dáng và vô cùng thoải mái, gợi cảm mà cả 2 dạng trang phục này được áp dụng nhiều nhất trong street style tuần qua ,chọn cho mình bộ trang phục đơn sắc với thiết kế cổ yếm, ống rộng - vừa thoải mái tối đa lại không kém phần gợi cảm, kết hợp cùng đôi giày quai chữ T tôn dáng"},
    ]
-
    const cartList = [
        {img: "/assets/img/Product/11.jpg", alt: "cart image", name: "rượu vang đỏ", price: "345.000đ", amount: "1", total: "345.000đ"},
        {img: "/assets/img/Product/11.jpg", alt: "cart image", name: "humbuger thịt bò", price: "345.000đ", amount: "1", total: "345.000đ"},
        {img: "/assets/img/Product/11.jpg", alt: "cart image", name: "humbuger thịt bò", price: "345.000đ", amount: "1", total: "345.000đ"},
        {img: "/assets/img/Product/11.jpg", alt: "cart image", name: "humbuger thịt bò", price: "345.000đ", amount: "1", total: "345.000đ"},
    ] 
-
    const orderList = [
        {
            id: "01",
            mdh: "LEANHGIANG89",
            day: "17/06/2015",
            address:"HÀ ĐÔNG",
            amount: "7",
            total: "350.000đ",
            status: "Đã thanh toán",
            operations: "Chi tiết",
        },
        {
            id: "02",
            mdh: "LEANHGIANG89",
            day: "17/06/2015",
            address:"HÀ ĐÔNG",
            amount: "7",
            total: "350.000đ",
            status: "Đã thanh toán",
            operations: "Chi tiết",
        },
        {
            id: "03",
            mdh: "LEANHGIANG89",
            day: "17/06/2015",
            address:"HÀ ĐÔNG",
            amount: "7",
            total: "350.000đ",
            status: "Đã thanh toán",
            operations: "Chi tiết",
        },
        {
            id: "04",
            mdh: "LEANHGIANG89",
            day: "17/06/2015",
            address:"HÀ ĐÔNG",
            amount: "7",
            total: "350.000đ",
            status: "Đã thanh toán",
            operations: "Chi tiết",
        },
        {
            id: "05",
            mdh: "LEANHGIANG89",
            day: "17/06/2015",
            address:"HÀ ĐÔNG",
            amount: "7",
            total: "350.000đ",
            status: "Đã thanh toán",
            operations: "Chi tiết",
        },
        {
            id: "06",
            mdh: "LEANHGIANG89",
            day: "17/06/2015",
            address:"HÀ ĐÔNG",
            amount: "7",
            total: "350.000đ",
            status: "Đã thanh toán",
            operations: "Chi tiết",
        },
    ]
- 
    const statusOrder =["Tất cả (16)", "Đã hủy (10)", "Chưa duyệt (0)", "Đã duyệt (0)", "Đã thanh toán-chờ mua hàng (0)", "Đã mua hàng (0)", "Hàng đã về-chờ giao hàng (0)", "Đã kết thúc (6)"]
- 
    const socialList = ["fab fa-facebook-f", "fab fa-google-plus-g", "fab fa-twitter", "fab fa-youtube", "fab fa-pinterest", "fab fa-vk"]
-    
    const detailImgList = [
        {img:"/assets/img/Product/8.jpg",alt:"detail img"},
        {img:"/assets/img/Product/9.jpg",alt:"detail img"},
        {img:"/assets/img/Product/10.jpg",alt:"detail img"},
        {img:"/assets/img/Product/11.jpg",alt:"detail img"},
        {img:"/assets/img/Product/12.jpg",alt:"detail img"}
    ]
- 
    const ratingLists = ["fas fa-star", "fas fa-star", "fas fa-star", "fas fa-star-half-alt", "far fa-star"] 
-
    const sizeLists = ["Loại lớn", "Loại vừa", "Loại nhỏ"]
- 
    const tabContent = [
        {name: "ĐẶC ĐIỂM NỔI BẬT", id: "outstanding", isActive: true},
        {name: "THÔNG TIN SẢN PHẨM", id: "productInfor"},
        {name: "ĐÁNH GIÁ", id: "review"},
    ]
- 
    const tabDesc = [
        {source: "Đừng nghĩ rằng chỉ vì đôi chân to mà bạn không thể mặc được món đồ nào khác ngoài quần dài. Sau đây là những item vừa trendy lại vừa có tác dụng rất hiệu quả trong việc điều chỉnh đôi chân to của bạn.Mùa hè là mùa của những bộ cánh thoải mái, thoáng mát và hẳn cô gái nào cũng muốn khoe chân tối đa. Tuy nhiên, điều này lại không hề dễ dàng đối với những cô nàng sở hữu đôi chân to.Đừng nghĩ rằng chỉ vì đôi chân to mà bạn không thể mặc được món đồ nào khác ngoài quần dài. Sau đây là những item vừa trendy lại vừa có tác dụng rất hiệu quả trong việc điều chỉnh đôi chân to của bạn.Mùa hè là mùa của những bộ cánh thoải mái, thoáng mát và hẳn cô gái nào cũng muốn khoe chân tối đa.Tuy nhiên, điều này lại không hề dễ dàng đối với những cô nàng sở hữu đôi chân to. Vậy diện đồ thế nào để vừa tạo cảm giác nhẹ nhàng nhưng lại khéo léo giấu được nhược điểm ấy? Sau đây, chúng tôi xin đưa ra gợi ý về loạt item mà các cô nàng chân to nên gắn bó trong mùa hè này.",id: "outstanding", isActive: true},
        {source: "Đừng nghĩ rằng chỉ vì đôi chân to mà bạn không thể mặc được món đồ nào khác ngoài quần dài. Sau đây là những item vừa trendy lại vừa có tác dụng rất hiệu quả trong việc điều chỉnh đôi chân to của bạn.Mùa hè là mùa của những bộ cánh thoải mái, thoáng mát và hẳn cô gái nào cũng muốn khoe chân tối đa. Tuy nhiên, điều này lại không hề dễ dàng đối với những cô nàng sở hữu đôi chân to.Đừng nghĩ rằng chỉ vì đôi chân to mà bạn không thể mặc được món đồ nào khác ngoài quần dài. Sau đây là những item vừa trendy lại vừa có tác dụng rất hiệu quả trong việc điều chỉnh đôi chân to của bạn.Mùa hè là mùa của những bộ cánh thoải mái, thoáng mát và hẳn cô gái nào cũng muốn khoe chân tối đa.Tuy nhiên, điều này lại không hề dễ dàng đối với những cô nàng sở hữu đôi chân to. Vậy diện đồ thế nào để vừa tạo cảm giác nhẹ nhàng nhưng lại khéo léo giấu được nhược điểm ấy? Sau đây, chúng tôi xin đưa ra gợi ý về loạt item mà các cô nàng chân to nên gắn bó trong mùa hè này", id: "productInfor"},
        {source: "Đừng nghĩ rằng chỉ vì đôi chân to mà bạn không thể mặc được món đồ nào khác ngoài quần dài. Sau đây là những item vừa trendy lại vừa có tác dụng rất hiệu quả trong việc điều chỉnh đôi chân to của bạn.Mùa hè là mùa của những bộ cánh thoải mái, thoáng mát và hẳn cô gái nào cũng muốn khoe chân tối đa. Tuy nhiên, điều này lại không hề dễ dàng đối với những cô nàng sở hữu đôi chân to.Đừng nghĩ rằng chỉ vì đôi chân to mà bạn không thể mặc được món đồ nào khác ngoài quần dài. Sau đây là những item vừa trendy lại vừa có tác dụng rất hiệu quả trong việc điều chỉnh đôi chân to của bạn.Mùa hè là mùa của những bộ cánh thoải mái, thoáng mát và hẳn cô gái nào cũng muốn khoe chân tối đa.Tuy nhiên, điều này lại không hề dễ dàng đối với những cô nàng sở hữu đôi chân to. Vậy diện đồ thế nào để vừa tạo cảm giác nhẹ nhàng nhưng lại khéo léo giấu được nhược điểm ấy? Sau đây, chúng tôi xin đưa ra gợi ý về loạt item mà các cô nàng chân to nên gắn bó trong mùa hè này.", id: "review"}   
    ]
- 
    const sidebarLists = ["RƯỢU NGOẠI", "Rượu Chivas (26)", "Hàng độc - Rượu độc đáo (36)", "Johnnie Walker (46)", "Rượu Whisky (24)", "Rượu Remy Martin (16)", "Rượu Glenmorangie  (11)", "Rượu Ballantine's (7)", "Rượu Cognac (40)", "Rượu Vodka (93)", "Rượu Macallan (19)", "Rượu Brandy (62)", "Rượu Hennessy (20)", "RượuGin - Tequila - Liqueur - Rượu mùi (36)", "Rượu Champagne (12)", "Rượu Single malt Scotch whisky (47)", "Rượu Spirits (4)", "RƯỢU VANG", "Rượu Vang Pháp (44)", "Rượu Vang Úc (34)", "Rượu Vang Mỹ (16)", "Rượu Vang ChiLe (48)", "Rượu Vang Philip (1)", "Rượu Vang Nam Phi (20)", "Rượu Vang Ý (2)", "Rượu Vang Argentina (3)"]
-
    const navProducts = [
        {name:"fas fa-th", id:"galleryView", isActive:true },
        {name:"fas fa-list", id:"listView"}
    ]
-
    const tabActive = [
        {img:"/assets/img/Product/8.jpg",alt:"tab item"},
        {img:"/assets/img/Product/9.jpg",alt:"tab item"},
        {img:"/assets/img/Product/10.jpg",alt:"tab item"},
        {img:"/assets/img/Product/11.jpg",alt:"tab item"},
        {img:"/assets/img/Product/8.jpg",alt:"tab item"},
        {img:"/assets/img/Product/7.jpg",alt:"tab item"},
        {img:"/assets/img/Product/10.jpg",alt:"tab item"},
        {img:"/assets/img/Product/12.jpg",alt:"tab item"},
        {img:"/assets/img/Product/11.jpg",alt:"tab item"},
        {img:"/assets/img/Product/6.jpg",alt:"tab item"},
        {img:"/assets/img/Product/2.jpg",alt:"tab item"},
        {img:"/assets/img/Product/3.jpg",alt:"tab item"},
    ]
-
    const tabProducts = [
        {img:"/assets/img/Product/8.jpg", alt:"tab item", name:"RƯỢU NHO NĂM 1987", price: "330.000đ", sub: "Một hợp chất có trong rượu vang được gọi là resveratro có khả năng làm tăng tối đa tuổi thọ.Resveratro còn có khả năng ngăn chặn mật độ ôxy hoá của protein béo."},
        {img:"/assets/img/Product/9.jpg",alt:"tab item", name:"RƯỢU NHO NĂM 1987", price:"330.000đ", sub:"Một hợp chất có trong rượu vang được gọi là resveratro có khả năng làm tăng tối đa tuổi thọ.Resveratro còn có khả năng ngăn chặn mật độ ôxy hoá của protein béo."},
        {img:"/assets/img/Product/10.jpg",alt:"tab item", name:"RƯỢU NHO NĂM 1987", price:"330.000đ", sub:"Một hợp chất có trong rượu vang được gọi là resveratro có khả năng làm tăng tối đa tuổi thọ.Resveratro còn có khả năng ngăn chặn mật độ ôxy hoá của protein béo."},
        {img:"/assets/img/Product/11.jpg", alt:"tab item", name: "RƯỢU NHO NĂM 1987", price: "330.000đ", sub: "Một hợp chất có trong rượu vang được gọi là resveratro có khả năng làm tăng tối đa tuổi thọ.Resveratro còn có khả năng ngăn chặn mật độ ôxy hoá của protein béo."},
        {img:"/assets/img/Product/8.jpg",alt:"tab item", name:"RƯỢU NHO NĂM 1987", price:"330.000đ", sub:"Một hợp chất có trong rượu vang được gọi là resveratro có khả năng làm tăng tối đa tuổi thọ.Resveratro còn có khả năng ngăn chặn mật độ ôxy hoá của protein béo."},
        {img:"/assets/img/Product/9.jpg",alt:"tab item", name:"RƯỢU NHO NĂM 1987", price:"330.000đ", sub:"Một hợp chất có trong rượu vang được gọi là resveratro có khả năng làm tăng tối đa tuổi thọ.Resveratro còn có khả năng ngăn chặn mật độ ôxy hoá của protein béo."},
    ]
    