-
    const headerList = ["Tài khoản của tôi", "Trạng thái đơn hàng", "Danh sách ưa thích", "Giỏ hàng", "Đăng nhập", "Đăng ký"]
-
    const navList = [
        {name:"Trang chủ", href:"/"},
        {name:"rượu vang đỏ", href:"/", isDropdown:true },
        {name:"rượu trắng", href:"/"},
        {name:"champagne", href:"/"},
        {name:"thông tin", href:""},
        {name:"blog", href:"/"},
        {name:"liên hệ", href:"/"},
    ]
- 
    const dropdownList = ["rượu ngoại", "rượu chivas", "Hàng độc - Rượu độc đáo", "Johnnie walker", "rượu whisky", "rượu renny martin", "rượu glenmorangie "]
- 
    const bgIntro = [
        {src:"/assets/img/bg-left.jpg", alt:"bg-left"},
        {src:"/assets/img/bg-right.jpg", alt:"bg-right"},
    ]
- 
    const productList = [
        {src:"/assets/img/Product/10.jpg", alt:"product image"},
        {src:"/assets/img/Product/9.jpg", alt:"product image"},
        {src:"/assets/img/Product/8.jpg", alt:"product image"},
        {src:"/assets/img/Product/12.jpg", alt:"product image"}
    ]
- 
    const collectionList = [
        {src:"/assets/img/home-image2.jpg", alt:"collection image"},
        {src:"/assets/img/home-image3.jpg", alt:"collection image"},
        {src:"/assets/img/home-image4.jpg", alt:"collection image"},
        {src:"/assets/img/home-image5.jpg", alt:"collection image"},
        {src:"/assets/img/home-image6.jpg", alt:"collection image"},
        {src:"/assets/img/home-image7.jpg", alt:"collection image"},
        {src:"/assets/img/home-image8.jpg", alt:"collection image"},
        {src:"/assets/img/home-image9.jpg", alt:"collection image"},
    ]
-
    const homeBlog = [
       {name:"/assets/img/home-image10.jpg" , alt:"blog image", title:"Vang Thăng Long Classic", desc:"Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml...",sub:"Đăng bởi Giangle | 30/06/2015 | 60 bình luận" },
       {name:"/assets/img/home-image11.jpg" , alt:"blog image", title:"Vang Thăng Long Classic", desc:"Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long ...",sub:"Đăng bởi Giangle | 30/06/2015 | 60 bình luận" },
    ]
- 
    const footerInfor = ["về chúng tôi", "giào hàng", "cảm nghĩ", "lưu trữ", "chính sách riêng tư"]
- 
    const footerBuy = ["vận chuyển và trả hàng", "mua hàng an toàn", "vận quốc tế", "liên kết", "dịch vụ giảm giá"]
-   
    const blogList = [
        {img:"/assets/img/home-image10.jpg", alt:"blog image", title:"vang thăng long classic", desc:"Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml...", sub:"Đăng bởi Giangle | 30/06/2015 | 60 bình luận"},
        {img:"/assets/img/home-image11.jpg", alt:"blog image", title:"vang thăng long classic", desc:"Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml...", sub:"Đăng bởi Giangle | 30/06/2015 | 60 bình luận"},
        {img:"/assets/img/home-image10.jpg", alt:"blog image", title:"vang thăng long classic", desc:"Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml...", sub:"Đăng bởi Giangle | 30/06/2015 | 60 bình luận"},
        {img:"/assets/img/home-image10.jpg", alt:"blog image", title:"vang thăng long classic", desc:"Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml...", sub:"Đăng bởi Giangle | 30/06/2015 | 60 bình luận"},
        {img:"/assets/img/home-image11.jpg", alt:"blog image", title:"vang thăng long classic", desc:"Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml...", sub:"Đăng bởi Giangle | 30/06/2015 | 60 bình luận"},
        {img:"/assets/img/home-image10.jpg", alt:"blog image", title:"vang thăng long classic", desc:"Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml...", sub:"Đăng bởi Giangle | 30/06/2015 | 60 bình luận"},
        {img:"/assets/img/home-image10.jpg", alt:"blog image", title:"vang thăng long classic", desc:"Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml...", sub:"Đăng bởi Giangle | 30/06/2015 | 60 bình luận"},
        {img:"/assets/img/home-image11.jpg", alt:"blog image", title:"vang thăng long classic", desc:"Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml...", sub:"Đăng bởi Giangle | 30/06/2015 | 60 bình luận"},
        {img:"/assets/img/home-image10.jpg", alt:"blog image", title:"vang thăng long classic", desc:"Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml...", sub:"Đăng bởi Giangle | 30/06/2015 | 60 bình luận"},
    ]
- 
    const newsBlog = [
        {img: "/assets/img/blog-image2.jpg", alt: "news imgae",  title: "cách săp xếp nội thất trong nhà", date: "12/05/2016"},
        {img: "/assets/img/blog-image3.jpg", alt: "news imgae",  title: "cách săp xếp nội thất trong nhà", date: "12/05/2016"},
        {img: "/assets/img/blog-image4.jpg", alt: "news imgae",  title: "cách săp xếp nội thất trong nhà", date: "12/05/2016"},
    ]
- 
    const tagBlog = ["Đồng hồ", "Túi", "Phụ kiện", "Giày", "Sandal", "Áo sơ mi", "Nước hoa", "Trẻ em", "Thời trang nữ"]
- 
    const blogDetail = [
        {img: "/assets/img/home-image10.jpg", alt: "blog image", title: "vang thăng long classic", desc: "Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml...", sub: "Đăng bởi Giangle | 30/06/2015 | 60 bình luận"},
    ]
-
    const comments = [
        {desc: "Có lẽ bởi tính chất 'ăn gian' vóc dáng và vô cùng thoải mái, gợi cảm mà cả 2 dạng trang phục này được áp dụng nhiều nhất trong street style tuần qua ,chọn cho mình bộ trang phục đơn sắc với thiết kế cổ yếm, ống rộng - vừa thoải mái tối đa lại không kém phần gợi cảm, kết hợp cùng đôi giày quai chữ T tôn dáng"},
        {desc: "Có lẽ bởi tính chất 'ăn gian' vóc dáng và vô cùng thoải mái, gợi cảm mà cả 2 dạng trang phục này được áp dụng nhiều nhất trong street style tuần qua ,chọn cho mình bộ trang phục đơn sắc với thiết kế cổ yếm, ống rộng - vừa thoải mái tối đa lại không kém phần gợi cảm, kết hợp cùng đôi giày quai chữ T tôn dáng"},
        {desc: "Có lẽ bởi tính chất 'ăn gian' vóc dáng và vô cùng thoải mái, gợi cảm mà cả 2 dạng trang phục này được áp dụng nhiều nhất trong street style tuần qua ,chọn cho mình bộ trang phục đơn sắc với thiết kế cổ yếm, ống rộng - vừa thoải mái tối đa lại không kém phần gợi cảm, kết hợp cùng đôi giày quai chữ T tôn dáng"},
    ]
-
    const cartList = [
        {img: "/assets/img/Product/11.jpg", alt: "cart image", name: "rượu vang đỏ", price: "345.000đ", amount: "1", total: "345.000đ"},
        {img: "/assets/img/Product/11.jpg", alt: "cart image", name: "humbuger thịt bò", price: "345.000đ", amount: "1", total: "345.000đ"},
        {img: "/assets/img/Product/11.jpg", alt: "cart image", name: "humbuger thịt bò", price: "345.000đ", amount: "1", total: "345.000đ"},
        {img: "/assets/img/Product/11.jpg", alt: "cart image", name: "humbuger thịt bò", price: "345.000đ", amount: "1", total: "345.000đ"},
    ] 
-
    const orderList = [
        {
            id: "01",
            mdh: "LEANHGIANG89",
            day: "17/06/2015",
            address:"HÀ ĐÔNG",
            amount: "7",
            total: "350.000đ",
            status: "Đã thanh toán",
            operations: "Chi tiết",
        },
        {
            id: "02",
            mdh: "LEANHGIANG89",
            day: "17/06/2015",
            address:"HÀ ĐÔNG",
            amount: "7",
            total: "350.000đ",
            status: "Đã thanh toán",
            operations: "Chi tiết",
        },
        {
            id: "03",
            mdh: "LEANHGIANG89",
            day: "17/06/2015",
            address:"HÀ ĐÔNG",
            amount: "7",
            total: "350.000đ",
            status: "Đã thanh toán",
            operations: "Chi tiết",
        },
        {
            id: "04",
            mdh: "LEANHGIANG89",
            day: "17/06/2015",
            address:"HÀ ĐÔNG",
            amount: "7",
            total: "350.000đ",
            status: "Đã thanh toán",
            operations: "Chi tiết",
        },
        {
            id: "05",
            mdh: "LEANHGIANG89",
            day: "17/06/2015",
            address:"HÀ ĐÔNG",
            amount: "7",
            total: "350.000đ",
            status: "Đã thanh toán",
            operations: "Chi tiết",
        },
        {
            id: "06",
            mdh: "LEANHGIANG89",
            day: "17/06/2015",
            address:"HÀ ĐÔNG",
            amount: "7",
            total: "350.000đ",
            status: "Đã thanh toán",
            operations: "Chi tiết",
        },
    ]
- 
    const statusOrder =["Tất cả (16)", "Đã hủy (10)", "Chưa duyệt (0)", "Đã duyệt (0)", "Đã thanh toán-chờ mua hàng (0)", "Đã mua hàng (0)", "Hàng đã về-chờ giao hàng (0)", "Đã kết thúc (6)"]
- 
    const socialList = ["fab fa-facebook-f", "fab fa-google-plus-g", "fab fa-twitter", "fab fa-youtube", "fab fa-pinterest", "fab fa-vk"]
    