// color
$color-black:#000000;
$color-header:rgba(255, 255, 255, 0.315);
$color-yellow:#d29e41;
$color-text:#fff;
$color-hot:#ed301c;
$color-green:#62af26;
$color-gray:#afacac;
// media break point
$breakpoints:(
    'xxs': (max-width: 320px),
    'xs': (max-width: 576px),
    's': (max-width: 768px),
    'md': (max-width: 991px),
    'lg': (max-width: 1199px)
);
